name: cicd pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  Hello_World:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: simple echo
        run: echo Hello World